/* This file is for your main application css. */

/* @import "./phoenix.css"; */
/* @import "../../../deps/phoenix_live_view/assets/css/live_view.css"; */

.alert {
  margin: 0;
}

.qrcode {
  width: 550px !important;
  height: 550px !important;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.qrcode-wrapper {
  margin: 2rem 0;
  align-items: center;
  justify-content: flex-end;
}

.qrcode-small {
  width: 150px !important;
  height: 150px !important;
}
